<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="css/admincss.css" rel="stylesheet"type="text/css" />
<link href="css/common.css" rel="stylesheet"type="text/css" />
</head>

<body>
<div class="mbody">
  
  <div class="pagetit">
	<div class="ptit">欢迎登陆 管理中心！</div>
  <div class="clear"></div>
</div>
<span id="version"></span>
<!--<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FF9900"  style=" margin-bottom:6px;">
  <tr>
    <td bgcolor="#FFFFCC">&nbsp;您还没有删除 install 文件夹，出于安全的考虑，我们建议您删除 install 文件夹。</td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#FF9900"  style=" margin-bottom:6px;">
  <tr>
    <td bgcolor="#FFFFCC">&nbsp;您的网站管理中心目录为 ./admin ，出于安全的考虑，我们建议您修改目录名。</td>
  </tr>
</table>-->
<div class="toptit">待处理事务</div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="link_lan" style="padding-left:15px; line-height:220%; margin-bottom:10px; color:#666666">
      <tr>
        <td width="300"  >暂无...</td>
		  
        <td  >&nbsp;</td>
      </tr>
  </table>



<div class="toptit">商城系统</div>
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td style=" line-height:220%; color:#666666; padding-left:15px; float:left"><table border="0" cellpadding="0" cellspacing="0" class="link_lan">
      <tr>
        <td width="300"  >系统当前版本：</td>
        <td  >认证授权：<span id="certification">载入中...</span>
        </td>
      </tr>
      <tr>
        <td  >版权所有：<br /></td>
        <td  > 官方论坛：</td>
      </tr>
      <tr>
        <td  >程序开发：程序开发组</td>
        <td  >官方论坛：</td>
      </tr>
    </table></td>
  </tr>
</table>
<div class="toptit">系统信息</div>
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td style="  color:#666666; padding-left:15px;line-height:220%; float:left;">
	<table border="0" cellpadding="3" cellspacing="2" class="link_lan">
      <tr>
        <td >操作系统：{$os}</td>
        <td  >PHP 版本：{$php}</td>
        <td  >上传许可：{$upsize}</td>
      </tr>
      <tr>
        <td  >服务器软件：{$service}<br /></td>
        <td  >MySQL 版本：{$mysql}</td>
        <td  >当前数据库尺寸：{$sqlsize}</td>
      </tr>
    </table></td>
  </tr>
</table>
<div class="toptit">官方动态</div>
<table width="100%" border="0" cellspacing="0" cellpadding="4">
  <tr>
    <td style=" line-height:220%; color:#666666; padding-left:15px;">
	<span id="announcement" class="link_lan">载入中...</span>
	</td>
  </tr>
</table>
</div>

<div class="footer link_lan">

</div>
</div>

</body>
</html>
