<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模板管理</title>
<link href="css/admincss.css" rel="stylesheet"type="text/css" />
</head>

<body>
<div class="nav_bg1"><b>模板管理</b></div>
<div class="tbbody">
  <form id="form1" name="form1" method="post" action="{$tab}">
      {section name=loop loop=$list}
        <table style="float:left; margin-right:8px;_margin-right:8px;">
        	<tr>
           	  <td valign="top"><img src="{$list[loop].directory}/preview.jpg" /></td>
                <td valign="top" style="line-height:20px;">
                	默认<input name="radid" type="radio" value="" {if $list[loop].default=='Y'}checked="checked"{/if} /><br />
                	卸载<input type="checkbox" name="check_id[]" id="gcheck" value='{$list[loop].templateid}'><br />
                    <a href="#">编辑</a><br />
                    <a href="#">复制</a>
                </td>
            </tr>
            <tr><td colspan="2" style="line-height:25px;">{$list[loop].name}</td></tr>
        </table>

      {/section}
    <table width="100%" border="0" cellspacing="0" cellpadding="3" class="table">
      <tbody id="tbody">
        <tr>
          <th style="width:30px;"></th>
          <th style="width:20%;">模板名称</th>
          <th style="width:25%;">目录</th>
          <th style="width:20%;">版权信息</th>
          <th></th>
        </tr>
      <tr onmouseover="c=this.style.backgroundColor;this.style.backgroundColor='#f4f4f4';" onmouseout="this.style.backgroundColor=c;">
        <td>新增</td>
        <td><input type="text" name="name" class="inputcss" /></td>
        <td><input type="text" name="directory" style="width:200px;" class="inputcss" /></td>
        <td><input type="text" name="copyright" class="inputcss" /></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="12"><input type="submit" value="提交" name="Button1" />&nbsp;&nbsp;
        <input type="button" value="更新缓存" name="Button1" />
          {$paging}</td>
      </tr>
        </tbody>
      
    </table>
  </form>
</div>
</body>
</html>
