<div class="foot">
	<div class="bottom_link">
		<div class="border_link">
			<div class="item_1 fl">
				<h3>用户指南</h3>
				<ul class="mat5">
                	{section name=loop loop=$help_1}
						<li><a href="/article/page.php?id={$help_1[loop].id}" title="{$help_1[loop].title}">{$help_1[loop].title}</a></li>
                    {/section}
				</ul>
			</div>
			<div class="bottom_libg fl"></div>
			<div class="item_1 fl">
				<h3>配送方式</h3>
				<ul class="mat5">
					{section name=loop loop=$help_2}
						<li><a href="/article/page.php?id={$help_2[loop].id}" title="{$help_2[loop].title}">{$help_2[loop].title}</a></li>
                    {/section}
				</ul>
			</div>
			<div class="bottom_libg fl"></div>
			<div class="item_1 fl">
				<h3>售后服务</h3>
				<ul class="mat5">
					{section name=loop loop=$help_3}
						<li><a href="/article/page.php?id={$help_3[loop].id}" title="{$help_3[loop].title}">{$help_3[loop].title}</a></li>
                    {/section}
				</ul>
			</div>
			<div class="bottom_libg fl"></div>
			<div class="item_1 fl">
				<h3>关于我们</h3>
				<ul class="mat5">
					{section name=loop loop=$help_4}
						<li><a href="/article/page.php?id={$help_4[loop].id}" title="{$help_4[loop].title}">{$help_4[loop].title}</a></li>
                    {/section}
				</ul>
			</div>
			<div class="bottom_libg fl"></div>
			<div class="foot_tel fl">
				<h3 class="c666">{$webname}</h3>
				<p class="mat10">
					{$online1}
									</p>
				<p class="tel_num">{$tel}</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	        
	<div class="subnav">
    	<div class="footnav">
        	{section name=loop loop=$endnav}
				<a href="{$endnav[loop].urls}" title="{$endnav[loop].title}" target="{$endnav[loop].target}">{$endnav[loop].title}</a>
            {/section}
        </div>
		{$footmsg}
	</div>
</div>

<script>
suspendcode="<div id=\"full\" style='right:20px; top:180px; position:absolute;z-index:1000;text-align:center;'><table width='99' border='0' cellpadding='0' cellspacing='0'><tr><td align='center'><a id='toTop' href='#top'><img border='0' src='/images/icon_top.gif' /></a></td></tr>{$online}<tr><td align='center'><a href='#bottom'><img border='0' src='/images/icon_bottom.gif' /></a></td></tr></table></div>"
</script>

<script type="text/javascript" src="/js/Online.js"></script>