BODY {
	LINE-HEIGHT: 20px; MARGIN: 0px auto; FONT-FAMILY: "ו", Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #333; FONT-SIZE: 12px
}
.centerbody {
	MARGIN: 0px auto
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff5a00
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
DL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
DD {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
DT {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
H1 {
	FONT-SIZE: 14px
}
H2 {
	FONT-SIZE: 14px
}
H3 {
	FONT-SIZE: 14px
}
.clear {
	HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
.teal {
	TEXT-ALIGN: center
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.imgborder {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 2px
}
A:hover .imgborder {
	BORDER-BOTTOM: #ff4200 1px solid; BORDER-LEFT: #ff4200 1px solid; BACKGROUND: #fff; BORDER-TOP: #ff4200 1px solid; BORDER-RIGHT: #ff4200 1px solid
}
.cred {
	COLOR: #cb2529
}
.cred1 {
	COLOR: #ed1e26
}
.cfen {
	COLOR: #c92a60
}
.corg {
	COLOR: #ff5a00
}
.cgreen {
	COLOR: #090
}
.cblue {
	COLOR: #015fd9
}
.c666 {
	COLOR: #666
}
.c888 {
	COLOR: #888
}
.c333 {
	COLOR: #333
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.mat2 {
	MARGIN-TOP: 2px
}
.mat5 {
	MARGIN-TOP: 5px
}
.mat8 {
	MARGIN-TOP: 8px
}
.mat10 {
	MARGIN-TOP: 10px
}
.mat15 {
	MARGIN-TOP: 15px
}
.mat20 {
	MARGIN-TOP: 20px
}
.mat25 {
	MARGIN-TOP: 25px
}
.mab5 {
	MARGIN-BOTTOM: 5px
}
.mab10 {
	MARGIN-BOTTOM: 10px
}
.mab15 {
	MARGIN-BOTTOM: 15px
}
.mab20 {
	MARGIN-BOTTOM: 20px
}
.mar5 {
	MARGIN-RIGHT: 5px
}
.mar10 {
	MARGIN-RIGHT: 10px
}
.mar15 {
	MARGIN-RIGHT: 15px
}
.mar20 {
	MARGIN-RIGHT: 20px
}
.mar50 {
	MARGIN-RIGHT: 100px
}
.mal5 {
	MARGIN-LEFT: 5px
}
.mal15 {
	MARGIN-LEFT: 15px
}
.mal7 {
	MARGIN-LEFT: 6px
}
.mal10 {
	MARGIN-LEFT: 10px
}
.padb10 {
	PADDING-BOTTOM: 10px
}
.padt10 {
	PADDING-TOP: 10px
}
.font12 {
	FONT-SIZE: 12px
}
.font14 {
	FONT-SIZE: 14px
}
.font16 {
	FONT-SIZE: 16px
}
.font18 {
	FONT-SIZE: 18px
}
.font20 {
	FONT-SIZE: 24px
}
.lh18 {
	LINE-HEIGHT: 18px
}
.lh20 {
	LINE-HEIGHT: 20px
}
.lh24 {
	LINE-HEIGHT: 24px
}
.lh28 {
	LINE-HEIGHT: 28px
}
.lh30 {
	LINE-HEIGHT: 30px
}
.hei24 {
	HEIGHT: 24px
}
.hei30 {
	HEIGHT: 30px
}
.hei60 {
	HEIGHT: 60px
}
.more {
	PADDING-RIGHT: 10px; FLOAT: right; COLOR: #999; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.more A:hover {
	COLOR: #ff4400
}
.num {
	FONT-FAMILY: "Arial"
}
.strong {
	FONT-WEIGHT: bold
}
.normal {
	FONT-WEIGHT: normal
}
.xuxian {
	BORDER-BOTTOM: #ccc 1px dashed
}
.xuxian1 {
	BORDER-BOTTOM: #ccc 1px dotted
}
