<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>会员中心</title>
<meta name="keywords" content="{$keywords}">
<link type="text/css" rel="stylesheet" href="{$domain}{$tpl}/css/style.css" />
<link href="{$domain}{$tpl}/css/userhead.css" rel="stylesheet"type="text/css" />
<link href="{$domain}{$tpl}/css/my.css" rel="stylesheet"type="text/css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/detail.js"></script>
<script type="text/javascript" src="../js/user.js"></script>
</head>
<body>
{include file="{$path}header.htm"}
<div class="content"> <a href="/"><img src="{$domain}{$tpl}/images/logo.jpg" /></a>
  <div class="bor1">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="left" valign="top">{include file="{$path}my/menu.htm"} </td>
        <td class="right" valign="top"> {include file="{$path}{$filepath}"} </td>
      </tr>
    </table>
  </div>
</div>
{include file="{$path}my/myfooter.htm"}
</body>
</html>