<div class="sjleft">
  <div class="sjtouxiang"> <a href="#" target="_blank"><img title="" src="/upload/user.jpg" border="0" /> </a> </div>
  <ul class="gnul">
    <li><a href="?action=members&operation=view&id={$uid}">编辑资料</a></li>
  </ul>
  <div style="margin-top:15px; font-size:14px; font-weight:bold;">我的交易</div>
  <ul class="gnul">
    <!--<li><a href="?action=members&operation=fav">我的收藏</a></li>-->
    <li><a href="/shop/order/cart.php" target="_blank">我的购物车</a></li>
    <li><a href="?action=orders&operation=getlist">订单管理</a></li>
    <li><a href="?action=members&operation=getaddr">收货地址管理</a></li>
    <!--<li><a href="#">我的积分</a></li>-->
  </ul>
</div>
