{literal} 
<script>
	$(function(){
		$("#cnum").load("/inc/ajax.php?t=cnum&tm="+(new Date).getTime());
	})
</script> 
{/literal}
<DIV class=pagetop>
  <DIV class=width960>
    <DIV class=quick_menu>
      <P>您好，<span class="cred">{$username}</span>! 欢迎来到{$webname}！
        {if $uid>0} <a href="/my/" title="会员中心">会员中心</a> <a href="/inc/ajax.php?t=logout" title="退出" style="border:0">退出</a> {else} <a href="/my/reg.php" title="注册">注册</a> <a href="/my/login.php" title="登陆">登陆</a> {/if} <a href="/shop/order/cart.php" title="购物车" style="border:0">购物车 <span class="cred" id="cnum">0</span> 件</a></P>
    </DIV>
    <DIV class=clear></DIV>
    <DIV class=header>
      <DIV class=fl><A title="" href="{$domain}"><IMG src="{$logo}"></A></DIV>
      <DIV class="sear fr">
        <FORM method=get action="/shop/search_product.php">
          <DIV class="inputbg fl">
            <INPUT class="fl searinput" type=text 
name=keyword>
          </DIV>
          <!--<a href="#"><img class="fl" src="http://jmkim.cn/mall/template/default/index/images/sear.gif" /></a>-->
          <INPUT 
class=fl onclick="this.form.submit();return false;" 
src="{$tpl}/images/searbtn.gif" type=image>
        </FORM>
      </DIV>
    </DIV>
    <DIV class=clear></DIV>
  </DIV>
  <DIV class=nav>
    <UL>
      {section name=loop loop=$topnav}
      <li><a href="{$topnav[loop].urls}" title="{$topnav[loop].title}" target="{$topnav[loop].target}">{$topnav[loop].title}</a></li>
      {/section}
    </UL>
  </DIV>
  <DIV class=clear></DIV>
</DIV>
