<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}{$seotitle}-{$webname}</title>
<meta name="keywords" content="{$keywords}">
<meta name="description" content="{$description}" />
<link type="text/css" rel="stylesheet" href="{$domain}{$tpl}/css/style.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type=text/javascript src="/js/lhgcore.lhgdialog.min.js?self=true&skin=default"></script>
<script type="text/javascript" src="/js/cart.js"></script>
<script type="text/javascript" src="/js/cms.js"></script>
</head>

<body>
{include file="{$path}header.htm"}
<form id="form2" action="/shop/order/" method="post">
<div class="content">
  <div class="now">您现在的位置：<a href='/'>首页</a> {$classify} > {$title}</div>
  {include file="{$path}right.htm"}
  <div class="fr xiangqing">
    <div class="fl">
    	<div class="proimg"><img src="/upload/{$photo}" id="bimg" style="width:310px; height:310px;" /></div>
    	<ul class="proul">
        {section name=loop loop=$img}
        <li>
        <img src="/upload/{$img[loop].attachment}" class="simg" style="width:40px; height:40px;" />
        </li>
        {/section}
        </ul>
    </div>
    
      <div class="fr proinfo">
        <h3>{$title}</h3>
        {if $jgdisplay=='1'}
        <p class="mat5">市 场 价： <s class="num c888">¥ {$price1*1.5}</s></p>
        <p>商 城 价： <span class="cred1 font20 num strong">¥ {$price1}</span></p>
        <p>运　　费：
          {if $yuanfei=="B"}
          平邮:{$pingyou} 快递:{$kuaidi} EMS:{$ems}
          {else}
          卖家包邮
          {/if} </p>
         {/if}
        <p>销售情况： 共售出 <span class="cred num strong">{$buynum}</span> 件 <a href="javascript:find_comment();" class="cblue">(已有{$pingjia}人评价)</a></p>
        
        <span {$dis}>
        
        {section name=loop loop=$p}
        <div class="fl" style="margin-top:6px;">{$p[loop].skey}：</div>
        <ul class="property fl" obj="{$p[loop].form}">
          {section name=loop1 loop=$p[loop].sub}
          <li val='{$p[loop].sub[loop1].val}'>{$p[loop].sub[loop1].val}</li>
          {/section}
          <div class="clear"></div>
        </ul>
        <div class="clear"></div>
        {$p[loop].formcont}
		{/section}
        <input name="proinput" id="proinput" type="hidden" value="{$proinput}" />
        {$script}
        </span>
        
        {if $jgdisplay=='1'}
        <div class="buyinfo">
          <div class="shuliang"> <span class="fl mat2">数量：</span> <img src="{$domain}{$tpl}/images/jian.gif" id="jian" />
            <input type="text" name="product_num" id="product_num" value="1" />
            <input name="product_id" id="product_id" type="hidden" value="{$pid}" />
            <img src="{$domain}{$tpl}/images/jia.gif" id="jia" /> <span class="fl c888 mal5 mat2">（库存 {$amount}）</span> </div>
          <div class="clear"></div>
          <p>
            <input name="buy_product" class="fl buy" id="buy_product" type="submit" value="" />
            <input name="ajaxcart" class="sctj fl" id="ajaxcart" type="button" value="加入购物车" /> </p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        {/if}
        
        <p>上架时间：<span class="c666">{$add_time|date_format:"%Y-%m-%d %H:%M:%S"}</span>　　浏览次数：<span class="c666">{$hits}</span>　　收藏人数：<span class="c666">1</span></p>
        <div class="mat5" style="height:25px; overflow:hidden;"> 
          <!-- Baidu Button BEGIN 
          <div id="bdshare" class="bdshare_b" style="line-height:12px;"><img src="http://bdimg.share.baidu.com/static/images/type-button-1.jpg" /> <a class="shareCount"></a> </div>
          <script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=456179" ></script> 
          <script type="text/javascript" id="bdshell_js"></script> 
          <script type="text/javascript">
					document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
				</script> 
          - Baidu Button END --> 
        </div>
        <div class="clear"></div>
      </div>
    <input name="username" id="username" type="hidden" value="{$username}" />
    <input name="uid" id="uid" type="hidden" value="{$uid}" />
    <input type="hidden" name="fid" id="fid" />
    <input type="hidden" name="showdiv" id="showdiv" />
    <div class="clear"></div>
    <div class="caidan1">
      <ul class="fl" id="js_menu">
        <li class="sel"><a href="javascript:;">商品展示</a></li>
        <li class="showmsg" fid="1"><a href="javascript:;">售前咨询({$pl_total})</a></li>
        <li class="showmsg" fid="2"><a href="javascript:;">顾客评价({$pj_total})</a></li>
        <li><a href="javascript:;">售后服务</a></li>
      </ul>
      <div class="fr c666 mat10 mar10">商品货号：{$bianma}</div>
    </div>
    <div class="promain js_menuhtml"> {$content}
	
    </div>
    <!--咨询 Start-->
    <div class="promain js_menuhtml" style="display:none">
      <div class="plmain" id="js_askhtml">
        <div class="xuxian1"></div>
        <div class="zixunbox">
          <div class="fl pl_l"></div>
          <div class="fl pl_m">请在这里发表您的问题</div>
          <div class="fl pl_r"></div>
          <div class="clear"></div>
          
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top">用户名称：</td>
              <td>{$username}</td>
            </tr>
            <tr>
              <td valign="top">咨询内容：</td>
              <td><textarea name="ask_text" fid="1" id="ask_text" style="width:550px;height:120px;resize:none;"></textarea></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="button" id="zhixun" value="提交" class="tj_btn"></td>
            </tr>
          </table>
          <div class="plmain">
          		
               
            <span id="zx_content"><img src="/images/loading.gif" /></span>
             <span id="js_askhtml"></span>
         </div>
        </div>
      </div>
    </div>
    <!--咨询 End--> 
    <!--评论 Start-->
    <div class="promain js_menuhtml" style="display:none">
      <div class="plmain" id="js_commenthtml">
        <div class="xuxian1"></div>
        <div class="zixunbox">
          <div class="fl pl_l"></div>
          <div class="fl pl_m">请在这里发表您的评论</div>
          <div class="fl pl_r"></div>
          <div class="clear"></div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td valign="top">用户名称：</td>
              <td>{$username}</td>
            </tr>
            <tr>
              <td valign="top">评价内容：</td>
              <td><textarea name="comment_text" id="comment_text" fid="2" style="width:550px;height:120px;resize:none;"></textarea></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="button" id="pinglun" value="提交" class="tj_btn"></td>
            </tr>
          </table>
          <div class="plmain">          		
            <span id="pj_content"><img src="/images/loading.gif" /></span>                
            <span id="js_pjhtml"></span>
         </div>
        </div>
      </div>
    </div>
    <!--评论 End-->
    <div class="promain js_menuhtml" style="display:none">
    {$fuwu}
    </div>
  </div>
</div>
{literal} 
<script type="text/javascript"> 
function find_comment() {
	$("#js_menu").find("li").eq(2).click();
	window.location.href = "#js_menu";
}
$(function(){
//标签切换
$("#js_menu").find("li").click(function(){
	var fid=$(this).attr("fid");
	$("#fid").val(fid);
	var show=fid=="1"?"zx_content":"pj_content";
	$("#showdiv").val(show);
	$("#js_menu").find("li").removeClass("sel");
	$(this).addClass("sel");
	$(".js_menuhtml").hide();
	$(".js_menuhtml").eq($("#js_menu").find("li").index($(this))).show();
})

})

</script> 
{/literal}
<div class="clear"></div>
</form>
{include file="{$path}footer.htm"}
</body>
</html>
