<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>会员中心</title>
<meta name="keywords" content="{$keywords}">
<link type="text/css" rel="stylesheet" href="{$tpl}/css/style.css?bhB" />
<link href="{$tpl}/css/userhead.css" rel="stylesheet"type="text/css" />
<link href="{$tpl}/css/my.css" rel="stylesheet"type="text/css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="/js/cart.js"></script>
{literal}
<script type="text/javascript">

String.prototype.trim = function () { return this.replace(/(^\s*)|(\s*$)/g, ""); }

function verify_cname() {
	var input_msg=document.getElementById("cname_msg");
	if (document.getElementById("txt_cname").value.trim() == "") {
		input_msg.className = "js_left";
		input_msg.innerHTML = "不能为空";
		return false;
	}else {
		input_msg.className = "js_left1";
		input_msg.innerHTML = "";
		return true;
	}
}

function verify_zip() {
	var postcode = /[1-9]\d{5}(?!\d)/;

	var input_msg=document.getElementById("zip_msg");
	if (!postcode.test(document.getElementById("txt_zip").value)) {
		input_msg.className = "js_left";
		input_msg.innerHTML = "输入不正确";
		return false;
	}
	else {
		input_msg.className = "js_left1";
		input_msg.innerHTML = "";
		return true;
	}            
}

function verify_tel() {
	//var telcode = /\d{3}-\d{8}|\d{4}-\d{7}/;
	var input_msg=document.getElementById("tel_msg");
	if ($("#txt_tel").val().trim()+"a"=="a") {
		input_msg.className = "js_left";
		input_msg.innerHTML = "输入不正确";
		return false;
	}
	else {
		input_msg.className = "js_left1";
		input_msg.innerHTML = "";
		return true;
	}            
}

function verify_email() {
	var email = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;

	var input_msg=document.getElementById("email_msg");
	if (!email.test(document.getElementById("txt_email").value)) {
		input_msg.className = "js_left";
		input_msg.innerHTML = "输入不正确";
		return false;
	}
	else {
		input_msg.className = "js_left1";
		input_msg.innerHTML = "";
		return true;
	}            
}
function Result(){
	 if (verify_cname() && verify_zip() && verify_tel() && verify_email())
	 {
	  return true;
	 }
	 else
	 {
	  alert("您的资料填写错误");
	  return false;
	 }
}
</script>
{/literal}
</head>
<body style="background:url(/images/user/head_basic.jpg) no-repeat top center;">
{include file="{$path}header.htm"}
<div class="content">
<div class="bor1">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td class="left" valign="top"> {include file="{$path}my/menu.htm"} </td>
      <td class="right" valign="top"><form id="form1" action="{$tab}" method="post" name="form1">
          <div class="all_list">
            <div class="list_out">添加收货地址</div>
            <div class="list_move"><a href='?action=members&operation=getaddr'>管理收货地址</a></div>
          </div>
          <input name="type" type="hidden" value="1">
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="table">
            
              <td align="right" class="navi_link">收货人姓名：</td>
              <td align="left"><div class="input_left">
                  <input type="text" name="cname" id="txt_cname" class="stit" value='{$cname}' onblur="return verify_cname()" />
                </div>
                <div id="cname_msg"></div></td>
            </tr>
            <tr>
              <td align="right" class="navi_link">所在城市：</td>
              <td align="left"><select name="province" id="txt_province">                  
          		{html_options options=$province_options selected=$province}            
                </select>
                省(直辖市)
                <select name="city" id="txt_city">                  
            	{html_options options=$city_options selected=$city}            
                </select>
                市(地区)
                <select name="county" id="txt_county">                  
            	{html_options options=$county_options selected=$county}            
                </select>
                区(县) </td>
            </tr>
            <tr>
              <td align="right" class="navi_link">详细地址：</td>
              <td align="left"><input type="text" name="address" id="txt_address" class="input1" value='{$address}' /></td>
            </tr>
            <tr>
              <td align="right" class="navi_link">邮政编码：</td>
              <td align="left"><div class="input_left">
                  <input type="text" name="zip" id="txt_zip" class="stit" value='{$zip}' onblur="return verify_zip()" />
                </div>
                <div id="zip_msg"></div></td>
            </tr>
            <tr>
              <td align="right" class="navi_link">固定电话：</td>
              <td align="left"><div class="input_left">
                  <input name="tel_code" type="text" id="txt_tel_code" value='{$tel_code}' size="4" maxlength="4" class="input_1" />
                  -
                  <input type="text" name="tel" id="txt_tel" class="stit" value='{$tel}' onblur="return verify_tel()" />
                </div>
                <div id="tel_msg"></div></td>
            </tr>
            <tr>
              <td align="right" class="navi_link">* 手 机：</td>
              <td align="left"><input type="text" name="mobile" id="txt_mobile" class="stit" value='{$mobile}' /></td>
            </tr>
            <tr>
              <td align="right" class="navi_link">email：</td>
              <td align="left"><div class="input_left">
                  <input type="text" name="email" id="txt_email" class="input1" value='{$email}' onblur="return verify_email()" />
                </div>
                <div id="email_msg"></div></td>
            </tr>
            <tr>
              <td align="right" class="navi_link">设为默认地址：</td>
              <td align="left"> {html_radios name="default_addr" options=$default_addr_options checked=$default_addr separator=" "} </td>
            </tr>
            <tr class="TR_BG_list">
              <td align="right" class="navi_link">&nbsp;</td>
              <td align="left"><input type="submit" name="button" id="button" value="提交" class="" onclick="return Result()" /></td>
            </tr>
          </table>
        </form></td>
    </tr>
  </table>
</div>
</div>
{include file="{$path}my/myfooter.htm"}
</body>
</html>